@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;

    margin: 0;
    font-size: 0.875rem;
    font-family: "Twemoji Country Flags", "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #000;
    }
}

@font-face {
    font-family: 'Merriweather';
    src: url('../public/font/Merriweather/Merriweather-Regular.ttf');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}


:root {
    --text-main: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-main: #FFF;
    }
}


/*:root {*/
/*    --main-dark: #FFF;*/
/*    --main-light: #64748b;*/
/*    --accent-dark: #2dd4bf;*/
/*    --secondary-dark: #cbd5e1;*/
/*    --secondary-light: #f1f5f9;*/
/*    --danger-dark: #ef4444;*/
/*    --danger-light: #fb7185;*/
/*    --highlight-dark: #f59e0b;*/
/*    --highlight-light: #fde047;*/
/*    --surface-dark: #fff;*/
/*    --surface-light: #fff;*/
/*    --border-dark: #0f172a;*/
/*    --border-light: #ddd;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --main-dark: #181c29;*/
/*        --main-light: #bbb;*/
/*        --accent-dark: #2dd4bf;*/
/*        --secondary-dark: #cbd5e1;*/
/*        --secondary-light: #333;*/
/*        --danger-dark: #ef4444;*/
/*        --danger-light: #fb7185;*/
/*        --highlight-dark: #f59e0b;*/
/*        --highlight-light: #fde047;*/
/*        --surface-dark: #121212;*/
/*        --surface-light: #222;*/
/*        --border-dark: #0f172a;*/
/*        --border-light: #666;*/
/*    }*/
/*}*/

